mat-icon {
  font-size: 1rem;
  color: #28b463;
}

div{
  color: #1f618d;
  margin: 7px;
}

#div1{
  font-size: 1rem;
  font-weight: bold;
}

#content{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

hr{
  color: black;
}
#agree_button{
  background-color: #27ae60;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 0;
  align-items: center;
  justify-content: center;
}
#agree_button mat-icon{
  color: white;
}
.img{
  width: 150px;
}