<div id="content">

  <div id="div1">
    Les cartes Réjouissances Rayonnantes sont maintenant disponibles !
  </div>

  <hr>

  <div class="card_img"><img class="img" src="assets/images/rejouissances_rayonnantes_booster.jpg"></div>

  <div id="div2">
    Met à jour tes listes de cartes recherchées et cartes à céder sur cette extension pour trouver de nouveaux échanges
  </div>

  <div class="button_container">
    <button mat-button (click)="onClick()" id="agree_button"><mat-icon>done</mat-icon>compris</button>
  </div>

</div>
