<body>
<h1>Bienvenue sur Pokemon TCG Exchanges !</h1>
<br>
<h3>Le seul endroit pour compléter ta collection <div id="jecrois">(fin' je crois..)</div></h3>

<div class="button_container">
  <div id="signin_container" (click)="signin()">
    <div class="img_container">
      <img id="magicarpe" src="assets/images/magicarpe.png">
    </div>
    <div class="text_container">Petit nouveau</div>
  </div>
  <div id="login_contaier" (click)="login()">
    <div class="img_container">
      <img id="leviator" src="assets/images/leviator.png">
    </div>
    <div class="text_container">Connexion</div>
  </div>
</div>
</body>
