<mat-grid-list cols="1" rowHeight="{{rowHeight}}">
  <mat-grid-tile *ngFor="let e of exchanges" class="proposal">
    <div class="tile-content">
      <!-- Ligne 1 (flexbox) -->
      <div class="line1">
        <div class="getCard">
          <p>obtenir</p>
          <h2>{{e.card1?.name}}</h2>
          <p>{{e.card1?.serialNumber}}</p>
        </div>

        <mat-icon class="arrow-icon">compare_arrows</mat-icon>

        <div class="giveCard">
          <p>contre</p>
          <h2>{{e.card2?.name}}</h2>
          <p>{{e.card2?.serialNumber}}</p>
        </div>
      </div>

      <!-- Ligne 2 -->
      <button mat-fab extended id="choose" (click)="chooseExchange(e)">
        <mat-icon>check_circle</mat-icon>
        Choisir
      </button>
    </div>
  </mat-grid-tile>
  <br>
</mat-grid-list>
