<div class="exchanges_list">
  <div class="exchange" *ngFor="let e of exchanges">
    <div class="row" id="row0">
      <div class="modality">
        <div id="modalidyGet">obtenir</div>
      </div>
      <div class="rarity"><p [innerHTML]="e?.card1?.rarity_string" id="rarity"></p></div>
      <div class="modality">
        <div id="modalidyGive">contre</div>
      </div>
    </div>
    <div class="row" id="row1">
      <div class="card" id="cardGet">
        <!-- <div class="Name">{{e.card1?.name}}</div>
        <div class="serial_number" id="sn_get">{{e.card1?.serialNumber}}</div>
        <div class="card_collection"><img class="img_collection" src={{e.card1?.collection_img}}></div> -->
        <div class="card_img"><img class="img_card" src="{{e.card1?.picture}}"></div>
      </div>
      <div class="exch_icon_container">
        <div class="icon_exch"><mat-icon id="exch_icon">compare_arrows</mat-icon></div>
      </div>
      <div class="card" id="cardGive">
        <!-- <div class="Name">{{e.card2?.name}}</div>
        <div class="serial_number" id="sn_get">{{e.card2?.serialNumber}}</div>
        <div class="card_collection"><img class="img_collection" src={{e.card2?.collection_img}}></div> -->
        <div class="card_img"><img class="img_card" src="{{e.card2?.picture}}"></div>
      </div>
    </div>
    <div class="row" id="row2" *ngIf="isAdmin">
      <div class="row_container" id="row2_container">
        <div class="friend_name_icon"><mat-icon>person_outline</mat-icon></div>
        <div class="friend_name_text"><span>{{e?.user2?.login}}</span></div>
      </div>
    </div>
    <div class="row" id="row3">
      <button mat-fab extended id="choose" (click)="chooseExchange(e)">
        <mat-icon>check_circle</mat-icon>
        Choisir
      </button>
    </div>
  </div>
</div>

<div *ngIf="noResult" id="no_exchange" inert>
  <div id="title"> <mat-icon>mood_bad</mat-icon> <br/> Aucun échange n'a été trouvé</div>
  <div>Vérifie que tes listes de cartes recherchées et cartes à céder sont à jours et réessaie un peu plus tard</div>
</div>

<div *ngIf="isLoading" class="loading-container">
  <mat-spinner></mat-spinner>
</div>
