<div id="button-container">
  <button mat-fab extended (click)="findExchange()" id="findMatch">
    <mat-icon>search</mat-icon>Trouver un échange
  </button>
</div>
<hr/>

<div class="new">
  <span>Nouvelles demandes d'échange</span>
  <mat-grid-list cols="{{column_number}}" rowHeight="{{row_siez}}">
    <mat-grid-tile *ngFor="let e of exchanges2_new">
      <div class="tile-content">
        <!-- Ligne 1 : Get, Icon et Give -->
        <div class="line1">
          <div class="get">
            <span class="card_name" id="name_card2">{{e.card2?.name}}</span>
            <span class="SN">{{e.card2?.serialNumber}}</span>
          </div>
          <div class="icon"><mat-icon>compare_arrows</mat-icon></div>
          <div class="give">
            <span class="card_name" id="name_card1">{{e.card1?.name}}</span>
            <span class="SN">{{e.card1?.serialNumber}}</span>
          </div>
        </div>

        <!-- Ligne 2 : Friend et Friend -->
        <div class="line2">
          <div class="friend">
            <div class="icon">
              <mat-icon>person_outline</mat-icon>
            </div>
            {{e.user1?.login}}
          </div>
        </div>
        <div class="line3">
          <div class="friend">Code ami : {{e.user1?.friendCode}}</div>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>

