#findMatch{
  background-color: #f1c40f;
  padding: 10px 20px;
}

#button_container{
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-left: 45px;
}

.title_list{
  font-size: 20px;
  margin: 10px;
  cursor: pointer;
}

.exchanges_list{
  display: flex;
  flex-direction: row;
  overflow-x:scroll;
  overflow-y:hidden;
}

.exchange{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  background-color: #f9e79f ;
  margin-left: 3px;
  margin-right: 3px;
  border: 1px solid black;
  border-radius: 15px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.row{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 7px;
  color: white;
  border: 1px solid black;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

#cardGet{
  margin-right: 0;
  background-color: #196f3d;
}
#cardGive{
  margin-left: 0;
  background-color: #922b21 ;
}

.Name{
  font-size: 1.1rem;
  margin-left: 5px;
  margin-right: 5px;
  margin: 3px;
  font-family: Arial, Helvetica, sans-serif;
}

.serial_number{
  font-size: 0.6rem;
}

#rarity{
  font-weight: bold;
  font-size: 1.2rem;
}

.title_list{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.friend_name_icon, .friend_name_text, .friend_code_icon{
  display: flex;
  align-items: center;
  justify-content: center;
}

.button.container{
  display: flex;
  align-items: center;
  justify-content: center;
}
.exch_button{
  border: 1px solid white;
  border-radius: 15px;
  width: 30px;
  height: 35px;
  margin: 5px;
}
#copy_button {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

#copy_icon {
  font-size: 20px;
}

#confirm_button{
  background-color: #27ae60;
}
#exch_icon {
  width: 100%;
  color: black ;
  font-size: 30px;
}

.img_collection{
  width: 40px;
  height: 18px;
}

.line4, .line5, .line2{
  height: 22px;
}
.line3 {
  margin-top: 10px;
  height: 10px;

}

#row2_container{
  margin-bottom: 5px;
}

#info_button {
  color: #1f618d;
  flex-shrink: 0;
}

#info {
  display: flex;
  justify-content: flex-start;
}

#header{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
}
#header_container{
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
#header_warning{
  color: red;
}
.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
}

@media screen and (max-width: 768px) {

  .exch_button{
    margin: 0px;
    margin-left: 2px;
    margin-right: 2px;
  }

}
