<table class="styled-table">

  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Cartes recherchées</th>
      <th scope="col">Cartes à céder</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">&#9826;</th>
      <td>{{wishRarity0}}</td>
      <td>{{giveRarity0}}</td>
    </tr>
    <tr>
      <th scope="row">&#9826;&#9826;</th>
      <td>{{wishRarity1}}</td>
      <td>{{giveRarity1}}</td>
    </tr>
    <tr>
      <th scope="row">&#9826;&#9826;&#9826;</th>
      <td>{{wishRarity2}}</td>
      <td>{{giveRarity2}}</td>
    </tr>
    <tr>
      <th scope="row">&#9826;&#9826;&#9826;&#9826;</th>
      <td>{{wishRarity3}}</td>
      <td>{{giveRarity3}}</td>
    </tr>
    <tr>
      <th id="star" scope="row">&#9733;</th>
      <td>{{wishRarity4}}</td>
      <td>{{giveRarity4}}</td>
    </tr>
  </tbody>

</table>
