<div class="row_container" id="first_row">
  <button mat-fab extended (click)="findExchange()" id="findMatch" [disabled]="isNewDemand">
    <mat-icon>search</mat-icon>Trouver un échange
  </button>
  <span *ngIf="isNewDemand">vous avez des demandes d'échanges à traiter</span>
</div>
<hr/>

<div class="exchanges_list_container" id="current_exchanges">
  <div class="title_list" (click)="click_current_exchanges()">
    <div class="icon_title_list"><mat-icon>autorenew</mat-icon></div>
    <div class="text_title_list" matBadge="{{nb_exch_current}}" matBadgeOverlap="false"><a>Échanges en cours</a></div>
  </div>
  <div class="exchanges_list" *ngIf="show_current_exchanges">
    <div class="exchange" *ngFor="let e of exchanges_active">
      <div class="line1">
        <div class="get">{{e.card1?.name}}</div>
        <div class="give">{{e.card2?.name}}</div>
      </div>
      <div class="line2">
        <div class="serial_number" id="sn_get">{{e.card1?.serialNumber}}</div>
        <div class="icon_exch"><mat-icon id="exch_icon">compare_arrows</mat-icon></div>
        <div class="serial_number" id="sn_give">{{e.card2?.serialNumber}}</div>
      </div>
      <div class="line3">
        <div class="row_container">
          <div class="rarity_value"><p [innerHTML]="e.card1?.rarity_string" id="rarity"></p></div>
        </div>
      </div>
      <div class="line4">
        <div class="row_container">
          <div class="friend_name_icon"><mat-icon>person_outline</mat-icon></div>
          <div class="friend_name_text"><span>{{e.user2?.login}} | {{e.user2?.friendCode}}</span></div>
        </div>
      </div>
      <div class="line5">
        <div class="row_container">
          <button mat-fab class="exch_button" id="confirm_button" (click)="finishExchange(e)"><mat-icon>outlined_flag</mat-icon></button>
          <button mat-fab class="exch_button" id="cancel_button" (click)="cancelExchange(e)"><mat-icon id="cancel_icon">cancel</mat-icon></button>
        </div>
      </div>
    </div>
  </div>

  <hr/>

<div class="exchanges_list_container" id="new_exchanges">
  <div class="title_list" (click)="click_new_exchanges()">
    <div class="icon_title_list"><mat-icon>fiber_new</mat-icon></div>
    <div class="text_title_list" matBadge="{{nb_exch_new}}" matBadgeOverlap="false">Nouvelles demandes d'échange</div>
  </div>
  <div class="exchanges_list" *ngIf="show_new_exchanges">
    <div class="exchange" *ngFor="let e of exchanges_new">
      <div class="line1">
        <div class="get">{{e.card2?.name}}</div>
        <div class="give">{{e.card1?.name}}</div>
      </div>
      <div class="line2">
        <div class="serial_number" id="sn_get">{{e.card2?.serialNumber}}</div>
        <div class="icon_exch"><mat-icon id="exch_icon">compare_arrows</mat-icon></div>
        <div class="serial_number" id="sn_give">{{e.card1?.serialNumber}}</div>
      </div>
      <div class="line3">
        <div class="row_container">
          <div class="rarity_value"><p [innerHTML]="e.card1?.rarity_string" id="rarity"></p></div>
        </div>
      </div>
      <div class="line4">
        <div class="row_container">
          <div class="friend_name_icon"><mat-icon>person_outline</mat-icon></div>
          <div class="friend_name_text"><span>{{e.user1?.login}} | {{e.user1?.friendCode}}</span></div>
        </div>
      </div>
      <div class="line5">
        <div class="row_container">
          <button mat-fab class="exch_button" id="confirm_button" (click)="confirmExchange(e)"><mat-icon>check_circle</mat-icon></button>
          <button mat-fab class="exch_button" id="cancel_button" (click)="cancelExchange(e)"><mat-icon id="cancel_icon">cancel</mat-icon></button>
        </div>
      </div>
    </div>
  </div>

  <hr/>

  <div class="exchanges_list_container" id="onhold_exchanges">
    <div class="title_list" (click)="click_val_exchanges()">
      <div class="icon_title_list"><mat-icon>access_time</mat-icon></div>
      <div class="text_title_list" matBadge="{{nb_exch_val}}" matBadgeOverlap="false">Demandes en attente de validation</div>
    </div>
    <div class="exchanges_list" *ngIf="show_val_exchanges">
      <div class="exchange" *ngFor="let e of exchanges_validation">
        <div class="line1">
          <div class="get">{{e.card1?.name}}</div>
          <div class="give">{{e.card2?.name}}</div>
        </div>
        <div class="line2">
          <div class="serial_number" id="sn_get">{{e.card1?.serialNumber}}</div>
          <div class="icon_exch"><mat-icon id="exch_icon">compare_arrows</mat-icon></div>
          <div class="serial_number" id="sn_give">{{e.card2?.serialNumber}}</div>
        </div>
        <div class="line3">
          <div class="row_container">
            <div class="rarity_value"><p [innerHTML]="e.card1?.rarity_string" id="rarity"></p></div>
          </div>
        </div>
        <div class="line4">
          <div class="row_container">
            <div class="friend_name_icon"><mat-icon>person_outline</mat-icon></div>
            <div class="friend_name_text"><span>{{e.user2?.login}} | {{e.user2?.friendCode}}</span></div>
          </div>
        </div>
        <div class="line5">
          <div class="row_container">
            <button mat-fab class="exch_button" id="cancel_button" (click)="cancelExchange(e)"><mat-icon id="cancel_icon">cancel</mat-icon></button>
          </div>
        </div>
      </div>
    </div>
</div>

<hr/>

<div class="exchanges_list_container" id="current_exchanges">
  <div class="title_list" (click)="click_old_exchanges()">
    <div class="icon_title_list"><mat-icon>flag</mat-icon></div>
    <div class="text_title_list" matBadge="{{nb_exch_old}}" matBadgeOverlap="false">Échanges terminés</div>
  </div>
  <div class="exchanges_list" *ngIf="show_old_exchanges">
    <div class="exchange" *ngFor="let e of exchanges_old">
      <div class="line1">
        <div class="get">{{e.card1?.name}}</div>
        <div class="give">{{e.card2?.name}}</div>
      </div>
      <div class="line2">
        <div class="serial_number" id="sn_get">{{e.card1?.serialNumber}}</div>
        <div class="icon_exch"><mat-icon id="exch_icon">compare_arrows</mat-icon></div>
        <div class="serial_number" id="sn_give">{{e.card2?.serialNumber}}</div>
      </div>
      <div class="line3">
        <div class="row_container">
          <div class="rarity_value"><p [innerHTML]="e.card1?.rarity_string" id="rarity"></p></div>
        </div>
      </div>
      <div class="line4">
        <div class="row_container">
          <div class="friend_name_icon"><mat-icon>person_outline</mat-icon></div>
          <div class="friend_name_text"><span>{{e.user2?.login}} | {{e.user2?.friendCode}}</span></div>
        </div>
      </div>
    </div>
  </div>

  <hr/>

  <div class="exchanges_list_container" id="current_exchanges">
    <div class="title_list" (click)="click_cancel_exchanges()">
      <div class="icon_title_list"><mat-icon>cancel</mat-icon></div>
      <div class="text_title_list" matBadge="{{nb_exch_cancel}}" matBadgeOverlap="false">Échanges annulés</div>
    </div>
    <div class="exchanges_list" *ngIf="show_cancel_exchanges">
      <div class="exchange" *ngFor="let e of exchanges_cancel">
        <div class="line1">
          <div class="get">{{e.card1?.name}}</div>
          <div class="give">{{e.card2?.name}}</div>
        </div>
        <div class="line2">
          <div class="serial_number" id="sn_get">{{e.card1?.serialNumber}}</div>
          <div class="icon_exch"><mat-icon id="exch_icon">compare_arrows</mat-icon></div>
          <div class="serial_number" id="sn_give">{{e.card2?.serialNumber}}</div>
        </div>
        <div class="line3">
          <div class="row_container">
            <div class="rarity_value"><p [innerHTML]="e.card1?.rarity_string" id="rarity"></p></div>
          </div>
        </div>
        <div class="line4">
          <div class="row_container">
            <div class="friend_name_icon"><mat-icon>person_outline</mat-icon></div>
            <div class="friend_name_text"><span>{{e.user2?.login}} | {{e.user2?.friendCode}}</span></div>
          </div>
        </div>
      </div>
    </div>
