<div id="content">

  <div id="div1">
    C'est ici que tu trouveras des échanges !
  </div>

  <hr>

  <div id="div2">
    Utilise le bouton "Trouver un échange" pour chercher des nouvelles cartes à échanger.
  </div>
  <div id="div2">
    Fait attention à bien mettre à jour tes listes pour ne pas générer d'échanges inappropriés.
  </div>
  <div id="div2">
    Essaie de rester actif afin de répondre rapidement aux demandes que tu recevras et rester visible dans l'algorithme de recherche.
  </div>

</div>
