<div id="filters">
  <mat-grid-list cols="4" rowHeight="100px" class="fixed-header">

    <mat-form-field class="inputs" (change)="filterSelect()">
      <mat-label>Voir</mat-label>
      <select matNativeControl [(ngModel)]="filterSelected">
        <option value='*'>Tout</option>
        <option value=true>Cartes sélectionnées</option>
        <option value=false>Cartes non-sélectionnées</option>
      </select>
    </mat-form-field>

    <mat-form-field class="inputs" (change)="filterSelect()">
      <mat-label>Type</mat-label>
      <select matNativeControl [(ngModel)]="filterType">
        <option value='*'>Tout</option>
        <option value=normal>Normal</option>
        <option value=plant>Plante</option>
        <option value=water>Eau</option>
        <option value=fire>Feu</option>
        <option value=psy>Psy</option>
        <option value=darkness>Obscurité</option>
        <option value=electic>Electrique</option>
        <option value=fight>Combat</option>
        <option value=metal>Métal</option>
        <option value=dragon>Dragon</option>
        <option value=trainer>Dresseur</option>
      </select>
    </mat-form-field>


    <mat-form-field class="inputs" (change)="filterSelect()">
      <mat-label>Rarté</mat-label>
      <select matNativeControl [(ngModel)]="filterRarity">
        <option value="*">Tout</option>
        <option value="0">&#9826;</option>
        <option value="1">&#9826;&#9826;</option>
        <option value="2">&#9826;&#9826;&#9826;</option>
        <option value="3">&#9826;&#9826;&#9826;&#9826;</option>
        <option value="4">&#9733;</option>
      </select>
    </mat-form-field>

    <mat-form-field class="inputs" (change)="filterSelect()">
      <mat-label>Extension</mat-label>
      <select matNativeControl [(ngModel)]="filterCollection">
        <option value="*">Tout</option>
        <option value="0">Puissance Génétique</option>
        <option value="1">Île Fabuleuse</option>
        <option value="2">Choc Spatio-Temporel</option>
      </select>
    </mat-form-field>

  </mat-grid-list>
</div>

<div id="row2">
  <div id="update_button">
    <button mat-fab extended (click)="updateWishList()" [disabled]="!update" id="addButton">
      <mat-icon>done</mat-icon> Mettre à jour
    </button>
  </div>
  <div id="info">
    <button id="info_button" mat-icon-button (click)="help()"><mat-icon>live_help</mat-icon></button>
  </div>
</div>

<div id="card_list">
  <mat-grid-list cols="{{column_number}}" rowHeight="2:1">
    <mat-grid-tile *ngFor="let c of card_list_display" class="{{c.type}}" (click)="selectCard(c)" [ngClass]="{'selected-card': wish_cards_new.includes(c)}">
      <div class="tile-content">
        <div class="name">{{c.name}}</div>
        <div class="serial_number">{{c.serialNumber}}</div>
        <div class="row3">
          <div [ngClass]="{'selected-card-rarity': wish_cards_new.includes(c)}">
            <p [innerHTML]="c.rarity_string" class="{{c.rarity_string}}"></p>
          </div>
          <div id="check">
            <p *ngIf="wish_cards_new.includes(c)"><mat-icon>check</mat-icon></p>
          </div>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
