<div class="container">
  <a mat-button color="secondary" routerLink="/home">
    <mat-icon>home</mat-icon>Accueil</a>


  <br>


  <!-- Authentification -->
  <div *ngIf="!logged">
  <a mat-button color="secondary" routerLink="/signin">
    <mat-icon>person_add</mat-icon>S'inscrire</a>
<br>
  <a mat-button color="secondary" routerLink="/connection">
    <mat-icon>how_to_reg</mat-icon>Se connecter</a>
  </div>

  <hr>

  <!-- Côté Admin -->
  <div *ngIf="admin">
  <a mat-button color="secondary" routerLink="/livres">
    <mat-icon>library_books</mat-icon>Livres</a>
 </div>
<br>


  <!-- Côté Adhérent -->
  <div *ngIf="adherent">
    <a mat-button color="secondary" routerLink="/wish-cards">
    <mat-icon>search</mat-icon>Cartes recherchées</a>
    <br>
    <a mat-button color="secondary" routerLink="/to-give-cards">
    <mat-icon>call_missed</mat-icon>Cartes à échanger</a>
    <br>
    <a mat-button color="secondary" routerLink="/ratio">
    <mat-icon>assignment</mat-icon>Mon bilan de recherches</a>
    <hr>
    <a mat-button color="secondary" routerLink="/exchange">
    <mat-icon>compare_arrows</mat-icon>Échanges</a>
<br>
</div>

