mat-form-field{
  width: 50%;
}

.input_container{
  width: 100%;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
}

.button_container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
}

.container {
  margin: auto;
  width: 100%;
  padding: 10px;
}

.form-group{
  width: 100%;
}

.container > * {
  width: 100%;
}

@media (max-width: 768px) {
  mat-form-field{
    width: 75%;
  }
  mat-int{
    width: 100%;
  }

  #form_login, #form_password{
    margin-bottom: 20px;
  }
}
