
<mat-toolbar>
  <div class="toolbar_container">

    <div class="links_container">

      <div class="section" id="wish" *ngIf="adherent">
        <div class="section_button_container">
          <button class="section_button" id="sulfu_button" mat-mini-fab routerLink="/wish-cards">
            <img class="img_button" id="sulfu_img" src="assets/images/sulfura.png">
          </button>
        </div>
        <div class="section_text_container">
          <div class="section_text">Cartes recherchées</div>
        </div>
      </div>

      <div class="section" id="give" *ngIf="adherent">
        <div class="section_button_container">
          <button class="section_button" id="denti_button" mat-mini-fab routerLink="/to-give-cards">
            <img class="img_button" id="denti_img" src="assets/images/denticriss.png">
          </button>
        </div>
        <div class="section_text_container">
          <div class="section_text">Cartes à céder</div>
        </div>
      </div>

      <div class="section" id="exchanges" *ngIf="adherent">
        <div class="section_button_container">
          <button class="section_button" id="exch_button" mat-mini-fab routerLink="/exchange">
            <img class="img_button" id="exch_img" src="assets/images/exchange.png">
          </button>
        </div>
        <div class="section_text_container">
          <div class="section_text">Échanges</div>
        </div>
      </div>

    </div>

    <div class="title_container">
      <div class="title">{{currentPageTitle | async }}</div>
    </div>

    <div class="links2_container" *ngIf="adherent">
      <div class="section" id="disco">
        <div class="section_button_container">
          <button class="section_button" id="abra_button" mat-mini-fab (click)="logout()">
            <img class="img_button" id="abra_img" src="assets/images/abra.png">
          </button>
        </div>
        <div class="section_text_container">
          <div class="section_text">Déconnexion</div>
        </div>
      </div>
    </div>

  </div>
</mat-toolbar>

<router-outlet></router-outlet>


