#img_pika{
  height: 35px;
  object-fit: contain;
}

#pika_button {
  width: 52px;
  height: 52px;
  font-size: 24px;
  background-color: #922b21 ;
}

.pika_container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  left: 10px;
}

.mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  background-color: #29599e;
}

.link-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  color: white;
}

.title_container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.example-container {
  display: flex;
  height: 100vh; /* S'assurer que le conteneur prend toute la hauteur */
}

.example-sidenav {
  width: 250px; /* Largeur du drawer */
  transition: transform 0.3s ease; /* Transition pour la manipulation du drawer */
}

.page-content {
  flex: 1; /* Le contenu prend tout l'espace restant */
  transition: margin-left 0.3s ease; /* Transition pour ajuster le contenu lorsque le drawer s'ouvre */
}

mat-drawer.opened + .page-content {
  margin-left: 250px; /* Décalage du contenu lorsque le drawer est ouvert */
}


@media screen and (max-width: 768px) {

  .mat-toolbar {
    flex-direction: column;
    align-items: center;
    height: 63px;
    padding: 10px 16px;
  }
    .link-container {
    width: 30%;
    justify-content: flex-end;
    margin-bottom: 0%;
    position: absolute;
    display: flex;
    flex-direction: column;
  }

  .pika_container {
    position: absolute;
    left: 10px;
  }

  #pika_button {
    width: 50px;
    height: 50px;
    font-size: 24px;
  }

  .link-container a {
    font-size: 0.6rem;
  }

  span{
    margin-top: 0%;
    margin-bottom: 0%;
    display: flex;
    align-items: end;
    flex-direction: column;
    justify-content: right;
  }

  .links {
    margin-left: 10px;
  }

  .title_container {
    margin-top: 10px;
    width: 100%;
  }

  #img_pika {
    width: 40px;
    height: auto;
  }

  .title_container h2 {
    font-size: 1.1rem;
    text-align: center;
  }

  .example-sidenav {
    width: 100vw; /* Utiliser toute la largeur de l'écran */
    height: calc(100vh - 56px); /* La hauteur doit être égale à la hauteur de l'écran, moins la hauteur de la toolbar */
    position: fixed;
    top: 56px; /* Positionner juste sous la toolbar */
    left: 0;
    transition: transform 0.3s ease;
    z-index: 1000; /* Assurez-vous que le drawer soit au-dessus du contenu */
  }

  .example-container {
    position: relative;
  }

  .page-content {
    margin-top: 56px; /* Décalage du contenu pour laisser de l'espace pour la toolbar */
    transition: margin-left 0.3s ease;
  }

  mat-drawer.opened + .page-content {
    margin-left: 0; /* Aucune marge à gauche lorsque le drawer est ouvert */
  }

}
