
<router-outlet></router-outlet>

<mat-toolbar>
  <div class="pika_container">
    <button id="pika_button" mat-mini-fab (click)="drawer.toggle()">
      <img id="img_pika" src="assets/images/pikachu.png">
    </button>
  </div>

  <div class="title_container">
    <h2>{{currentPageTitle | async }}</h2>
  </div>

  <div class="link-container">
    <span *ngIf="!logged">
    <div class="links">
      <a mat-button color="secondary" routerLink="/connection">
        Se connecter</a>
    </div>
    <div class="links">
      <a mat-button color="secondary" routerLink="/signin">
        S'inscrire</a>
    </div>
  </span>
      <br>
      <span *ngIf="logged">
        <a mat-button color="secondary" (click)="logout()">
          Déconnexion</a>
      </span>
  </div>
</mat-toolbar>

<mat-drawer-container class="example-container">
  <mat-drawer #drawer class="example-sidenav" mode="side" [opened]="drawer.opened">
    <div>
      <app-nav-bar></app-nav-bar>
    </div>
  </mat-drawer>
  <mat-drawer-content class="page-content">
    <div class="flex-container" style="align-self: center">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
