#agree_button {
  background-color: #27ae60;
  color: white;
}

#cancel_button {
  background-color: #922b21;
  color: white;
}

.mat-button {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 0;
  align-items: center;
  justify-content: center;
  color: white;
}

#button_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 0;
}

#cancel_button,
#agree_button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}

#message {
  display: flex;
  justify-content: center;
  align-items: center;
}
